<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">


    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            background-image: url('assets/alessio-soggetti-8jeWeKdygfk-unsplash-1000x1200.jpg');
        }
    </style>
  </head>
  <body>
    <!-- Hero -->
    <div class="hero" data-theme="dark">

      <nav class="container-fluid">
        <ul>
          <li><a href="{{ url_for('index') }}" class="contrast"><strong>Sarcastic!</strong></a></li>
        </ul>
        <ul>
          {% if session.username %}
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast" href="{{ url_for('route_profile', username=session.username) }}">Welcome, {{ session.username }}</summary>
              <ul role="listbox">
                <li><a href="{{ url_for('route_profile', username=session.username) }}">Profile</a></li>
                <li><a href="{{ url_for('route_logout') }}">Logout</a></li>
              </ul>
            </details>
          </li>
          {% else %}
          <li><a href="{{ url_for('route_login') }}">Login</a></li>
          <li><a href="{{ url_for('route_register') }}">Register</a></li>
          {% endif %}
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast">Menu</summary>
              <ul role="listbox">
                <li><a href="{{ url_for('route_feed') }}">Feed</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </div><!-- ./ Hero -->

    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
