{% extends 'base.html' %}


{% block content %}
<!-- Main -->

 <main class="container" id="main">
     <form action="{{ url_for('route_search') }}" method="get">
  <input type="search" id="search" name="q" placeholder="What are you looking for?">
</form>
     <article id="article">
        <h2>About US</h2>
        <p>Introducing the latest addition to the ever-growing world of social media: the Sarcastic Social Network!</p>
          <p>Finally, a platform that caters to the cynical, the snarky, and the sarcastic among us.</p>
          <p>Say goodbye to the bland and inauthentic nature of other social networks.
          With the Sarcastic Social Network, you can express your true feelings without fear of judgment or repercussions.</p>
          <p> Don't like a post? Use the eye roll or sarcastic clap emoji to show your disapproval. Disagree with someone's opinion? Use the "wow, you must be so right" button to convey your thoughts.</p>
          <p> Don't worry about trolls or fake news on our platform - everything on the Sarcastic Social Network is clearly marked as sarcasm, so you don't have to waste any brainpower thinking critically or fact-checking. We all know that's too much effort for a social network user.</p>
          <footer><small>So, what are you waiting for? Join the Sarcastic Social Network today and let your snarky flag fly high. Because who needs positivity and optimism when you can have sarcasm and irony?</p>
</small></footer>
      </article> </form> </main><!-- ./ Main -->
{% endblock %}

</body>
</html>




