{% extends 'base.html' %}

<!-- Custom styles for this example -->
    <link rel="stylesheet" href="/templates/assets/login.css">

{% block content %}

<!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Log in</h1>
            <h2>Sarcastic!</h2>
          </hgroup>
            <form action="/login" method="post">
          {{ form.hidden_tag() }}
            <div class="form-group">
            <label for="username">Username</label>
            {{ form.username(class="form-control", id="username", required=True) }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password(class="form-control", id="password", required=True) }}
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div></div>
      </article>
    </main><!-- ./ Main -->
<div class="alert alert-danger">{{error if error is not none }}</div>
</div>

{% endblock %}