<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/company/">
    <title>Sarcastic! •</title>
    <link rel="stylesheet" href="/templates/custom.css">
</head>
<body>

<!-- Hero -->
    <div class="hero" data-theme="dark">
      <nav class="container-fluid">
        <ul>
          <li><a href="{{ url_for('index') }}" class="contrast" ><strong>Sarcastic!</strong></a></li>
        </ul>
        <ul>
            {% if session.username %}
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast" href="{{ url_for('profile', username=session.username) }}">Welcome, {{ session.username }}</summary>
              <ul role="listbox">
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}

                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
              </ul>
            </details>
          </li>
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast">Menu</summary>
              <ul role="listbox">
                <li><a href="{{ url_for('feed') }}">Feed</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </div><!-- ./ Hero -->
{% block content %}

<!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Log in</h1>
            <h2>Sarcastic!</h2>
          </hgroup>
            <form action="/login" method="post">
          {{ form.hidden_tag() }}
            <div class="form-group">
            <label for="username">Username</label>
            {{ form.username(class="form-control", id="username", required=True) }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password(class="form-control", id="password", required=True) }}
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div></div>
      </article>
    </main><!-- ./ Main -->
<div class="alert alert-danger">{{error if error is not none }}</div>
</div>

{% endblock %}